.header {
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  background-color: var(--black);
}

.containerLoading {
  width: 100%;
  position: absolute;
  bottom: -6px;
  height: 6px;
  animation-name: loading;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

.title {
  margin: 0;
  line-height: 0;
}

.title a {
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
}

.favoritesContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.favorites {
  color: var(--white);
}

.favContent {
  display: flex;
  gap: 8px;
  align-items: center;
}

@keyframes loading {
  0% {
    background-color: var(--red);
  }
  50% {
    background-color: transparent /* var(--white) */;
  }
  100% {
    background-color: var(--red);
  }
}
